project:
  type: website
  output-dir: docs

# website settings
website:
  title: "Mathieu Lavigne"                                
  
  # start of the navigation bar at the top of the website
  navbar:
    # your sub-pages
    left:
      - text: "About me"
        href: About/index.qmd
      - text: "Research"
        href: Research/index.qmd
      - text: "Teaching"
        href: Teaching/index.qmd
      - text: "In the news"
        href: Media/index.qmd
      - text: "CV"
        href: CV/index.qmd
      - text: "En français (SVP!)"
        href: Français/index.qmd

# Don't touch unless you know what you are doing 
  search: 
    location: navbar
    type: textbox
  page-footer: 
    left: |
      <span class="faux-block">&#169; 2026 Mathieu Lavigne CC BY-SA 4.0</span>

preview: 
    port: 22222
    browser: true
    watch-inputs: true
    navigate: true

execute:
  freeze: true

format:
  html:
    fontsize: 1.1em
    theme: 
      - pulse
      - html/styles.scss
    toc: false
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true